<link rel="stylesheet" 
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <body>
         <br/> 
          &nbsp;<a href="Dashboard"><i class="fa fa-chevron-circle-left" style="font-size:36px"></i></a>
<div class="center">

  <form #userForm="ngForm" (ngSubmit)="applyLeave(userForm)">
<fieldset>
        <legend class=style >APPLY LEAVE</legend><br/>
    
      <div class="form-group">
             
          <label for= "leaStartDate"><b><font size="4">Start Date   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
  &nbsp;&nbsp;&nbsp; : &nbsp;</font></b></label> &nbsp;&nbsp;
          <input type="Date" required="required" [(ngModel)]="model.leaStartDate" name="leaStartDate" #leaStartDate="ngModel"  >
          <div *ngIf="leaStartDate.invalid && userForm.submitted && !isValidFormSubmitted"  [ngClass] = "'error'"> 
                <h6>Start Date is Required.</h6>
               </div>
      </div><br/>
      <div class= "form-group">
              <label for= "leaEndDate"><b><font size="4">End Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;</font></b> </label> &nbsp;&nbsp;
              <input type = "Date" class= "form-control"
              id = "leaEndDate" required="required"
              [(ngModel)]= "model.leaEndDate" name="leaEndDate" #leaEndDate="ngModel" (change)="calculateDays()">
              <div *ngIf="leaEndDate.invalid && userForm.submitted && !isValidFormSubmitted"  [ngClass] = "'error'"> 
                     <h6>End Date is Required.</h6> 
                    </div>
          </div>
          <br/>
          <div class="form-group">
                  <label for="leaLeaveType"><b><font size="4">Leave Type &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
  &nbsp; : &nbsp;</font></b></label> &nbsp;&nbsp;
                  <select [(ngModel)]="model.leaLeaveType" name="leaLeaveType" required="required" #leaLeaveType="ngModel">
                      <option value="EL">EL</option>
                      <option value="SL">SL</option>
                      <option value="ML">ML</option>
                  </select>
          </div><br/>
          <div class= "form-group">
                  <label for= "leaNumberOfDays"><b><font size="4">Number of Days &nbsp;&nbsp;
                          &nbsp;:&nbsp;</font></b> </label> &nbsp;&nbsp;
                  <input type = "number" class= "form-control" readonly
                  id = "leaNumberOfDays" required="required"
                  [(ngModel)]= "model.leaNumberOfDays" name="leaNumberOfDays" #leaNumberOfDays="ngModel" >
                  <div *ngIf="leaNumberOfDays.invalid && userForm.submitted && !isValidFormSubmitted"  [ngClass] = "'error'"> 
                          <h6>Leave Days is Required.</h6> 
                         </div>
              </div><br/>
          <div class= "form-group">
                  <label for= "leaReason"><b><font size="4">Leave Reason &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                          : &nbsp;</font></b></label> &nbsp;&nbsp;
                  <input type = "string" class= "form-control" size="20"
                  id = "leaReason" required="required"
                  [(ngModel)]= "model.leaReason" name="leaReason" #leaReason="ngModel">
                  <div *ngIf="leaReason.invalid && userForm.submitted && !isValidFormSubmitted"  [ngClass] = "'error'"> 
                          <h6>Reason is Required.</h6> 
                         </div>
              </div>
        
        <br/>
        </fieldset> 
<br/>
<br/>
        <div align="center">
        <button class=button><b>APPLY</b></button> &nbsp;&nbsp;
        <input type="button" class="button" value="CANCEL" (click)="cancel()">
        </div>
<br/>
       <fieldset><legend>STATUS</legend> 
        <h3 *ngIf="isValidFormSubmitted == true">
                <div align="center">{{this.msg}}</div></h3> 
       </fieldset> </form>

</div>
</body>