
body{
  background-image: url("https://images.pexels.com/photos/1089842/pexels-photo-1089842.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: center;
  color: black;
}
.center {
  margin: auto;
  width: 60%;
  padding: 40px;
  font-weight: bold;
  color: black;
}
.style{
  color: black;
    text-align: center;
    font-size:30px;
    text-decoration:underline;
}
    img {
  border-radius: 50%;
}
.button{
    font-weight: bold;
}
  .border{
    
    width: 400px;
  height: 500px;
 border-style: solid;
  border-width: medium;
  }