<link rel="stylesheet" 
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<html>
<body> 
<div class="border">
<nav>
<div class="navbar" align="right" > 
  
  <a  href="EmployeeComponent"><i class="fa fa-fw fa-home" ></i><b> HOME </b></a>

</div>
</nav>





<h1 align=center> <u>LEAVE MANAGEMENT SYSTEM <br/>
  BY FTP113 </u></h1>
<br/>
<div class="row">
  <div class="column">
    <div class="card" align="center">
      <h2 align="center">TRAINER</h2>
      <img src="https://raw.githubusercontent.com/Nishtha-hexaware/class2019/master/prasanna.jpg?_sm_au_=iVV7PHRWm25FLHp6"  alt="PRASANNA"  style="width:50%">
      <div class="container" align="center">
        <h2>PRASANNA</h2>
        <p>TrainerPrasanna@hexaware.com</p>
         <p>9652809038</p>

      </div>
    </div>
  </div>


  <div class="column1">
      <h2 align="center">ABOUT</h2>
      <div class="container" align="justify">
        <p>We as a team implemented leave management system using Angular Framework.
          All the details of the employees are displayed and they can login to the website with respective their credentials. 
          Here Employee can apply for leave and can see their status.
          Here only the Manager have authority  to approve or deny the leaves.
          Please click home to begin.
        </p>
    </div>
  </div>
</div>

<div class="row" align="center">
   <h2>OUR TEAM</h2>
  <div class="column" align="center">
    <div class="card">
      <img src="https://raw.githubusercontent.com/Nishtha-hexaware/class2019/master/Sanju.jpg?_sm_au_=iVV7PHRWm25FLHp6" alt="Sanjana" style="width:50%">
      <div class="container">
        <h2>SANJANA KOLAGE</h2>
        <p class="title"></p>
        <p> ID : 44951</p>
        <p>SanjanaK@hexaware.com</p>
         <p>7768858666</p>

      </div>
    </div>
  </div>








  <div class="column">
    <div class="card">
      <img src="https://raw.githubusercontent.com/Nishtha-hexaware/class2019/master/Baskar.jpg?_sm_au_=iVV7PHRWm25FLHp6" alt="Bhaskar" style="width:50%">
      <div class="container">
       <h2>BHASKAR GURANA</h2>
         <p class="title"></p>
         <p> ID : 44971</p>
        <p> BhaskarG@hexaware.com</p>
        <p> 9989547605</p>
      </div>
    </div>
  </div>




  <div class="column">
    <div class="card">
      <img src="https://raw.githubusercontent.com/Nishtha-hexaware/class2019/master/PAVAN.jpg?_sm_au_=iVV7PHRWm25FLHp6" alt="Mike" style="width:50%">
      <div class="container">
        <h2>PAVAN PREM KUMAR </h2>
        <p class="title"></p>
        <p> ID : 44972</p>
        <p>PavanU@hexaware.com</p>
        <p> 8978235639</p>

      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://raw.githubusercontent.com/Nishtha-hexaware/class2019/master/NISHTHA.jpg?_sm_au_=iVV7PHRWm25FLHp6" alt="Nishtha" style="width:50%">
      <div class="container">
       <h2>NISHTHA BABBAR</h2>
         <p class="title"></p>
         <p>ID : 44944</p>
        <p>NishthaB@hexaware.com</p>
        <p>8968345699</p>
      </div>
    </div>
  </div>





  <div class="column">
    <div class="card">
      <img src="https://raw.githubusercontent.com/Nishtha-hexaware/class2019/master/Karthiga.jpg?_sm_au_=iVV7PHRWm25FLHp6" alt="Karthiga" style="width:50%">
      <div class="container">
       <h2> KARTHIGA PITCHIAH </h2>
         <p class="title"></p>
         <p> ID : 44993</p>
        <p> KarthigaP@hexaware.com</p>
        <p> 9488779298</p>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>