<link rel="stylesheet" 
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <body>
<div id=showdetails>
 

<!-- <nav>
  <li><a [routerLink]="['/LeaveDetails']">PENDING LEAVES &nbsp;&nbsp;&nbsp;</a></li>
  <li><a [routerLink]="['/LeaveHistory']">LEAVE HISTORY &nbsp;&nbsp;&nbsp;</a></li>
  <li><a [routerLink]="['/applyLeave']">APPLY NEW LEAVE</a></li>
  </nav> -->
<nav>
<div class="navbar"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;
  <a  href="#"><i class="fa fa-fw fa-home"></i><b> HOME </b></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a [routerLink]="['/ApplyLeave']"><i class="fa fa-fw fa-calendar"></i><b>APPLY LEAVE</b></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
  <a [routerLink]="['/LeaveHistory']"><i class="fa fa-file-text-o"></i><b>LEAVE HISTORY</b></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <a [routerLink]="['/LeavePending']"><i class="	fa fa-check-square-o"></i><b>PENDING LEAVES</b></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <!-- <a href="#"><i class="fa fa-fw fa-search"></i> <b>SEARCH</b></a>  -->
</div>
</nav>
  
<br/>
 <app-employ></app-employ>
<br/>
<app-manager></app-manager>
<br/>
<br/>

<br/>
</div>
<body>
